html,body{
    margin:0;
    height:100%;
    font-family: "Segoe UI", sans-serif;
}

/* HEADER */
#header{
    height:55px;
    background:#1b5e20;
    color:white;
    display:flex;
    align-items:center;
    padding:0 15px;
    font-weight:bold;
}

#header img{
    height:40px;
    margin-right:10px;
}

/* MAP */
#map{
    height:calc(100% - 55px);
}

/* TOGGLE */
#toggleBtn{
    position:absolute;
    top:70px;
    left:10px;
    z-index:1000;
    background:#1b5e20;
    color:white;
    border:none;
    padding:10px 12px;
    border-radius:6px;
    cursor:pointer;
}

/* SIDEBAR */
#sidebar{
    position:absolute;
    top:55px;
    left:-280px;
    width:260px;
    height:calc(100% - 55px);
    background:white;
    padding:15px;
    box-shadow:3px 0 8px rgba(0,0,0,0.2);
    transition:0.3s;
    z-index:1001;
}

#sidebar.active{
    left:0;
}

.closeBtn{
    float:right;
    background:none;
    border:none;
    font-size:18px;
    cursor:pointer;
}

#sidebar h3{
    margin-top:0;
}

/* FORM */
#sidebar input{
    width:100%;
    padding:8px;
    margin-bottom:8px;
}

.btn{
    width:100%;
    padding:8px;
    margin-bottom:6px;
    background:#2e7d32;
    color:white;
    border:none;
    cursor:pointer;
    border-radius:4px;
}

.btn.reset{
    background:#9e9e9e;
}

/* INFO */
.info{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
}

.box{
    background:#f1f1f1;
    padding:10px;
    width:48%;
    text-align:center;
    border-radius:6px;
}

.box span{
    font-size:18px;
    font-weight:bold;
    display:block;
}
